*.css.map
*.db
*.egg-info
*.mo
*.pyc
*.pyo
*.sql.gz
.cache
.DS_Store
.git/
.idea
.idea/workspace.xml
.project
.pydevproject
.sass-cache
.vagrant/
__pycache__
dist
docker-compose.yml
Dockerfile
docs
logs
src/node_modules
stats
venv
web/media
web/static/CACHE
